/* Selecting border-box to absorb padding into box */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


    
body {
    height: 100vh;
    background-color: darkslategray;

    }

h1 {
    
    text-align:center;
    letter-spacing: 4px; 
    width:640px;
}

.button{
        background-color: #4CAF50;
        border: 2px solid #dcacb2;
        border-radius: 12px;
        color: #fff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;        
        display: inline-block;
        font-size: 150%;
        margin: auto;
        /* margin: 4px 2px; */
        transition-duration: 0.4s;
        cursor: pointer;        
 
}

#div-button{
    text-align: center;
    width : 640px;
}

section{
    display: flex;
}

.memory-game{
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px 1px rgba(1, 0, 0, .3);
}

.front-face, .back-space{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: yellow;
}
/* add mouse hover to cards*/

div img:hover{
    animation-name: card-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

/* creates the level of zoom for cards */

@keyframes card-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.03);
    }
    
}